<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    
     <ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

<section>
    <div class="gallery">
  <a target="_blank" href="">
    <img src="https://cdn0.fahasa.com/media/catalog/product/t/h/tham-tu-lung-danh-conan-tap-98_3.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">ở đây có tuổi thơ</div>
</div>

  <div class="gallery">
  <a target="_blank" href="">
    <img src="https://cdn0.fahasa.com/media/catalog/product/t/h/tham-tu-lung-danh-conan-tap-98_3.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">ở đây có tuổi thơ</div>
</div>

  <div class="gallery">
  <a target="_blank" href="">
    <img src="https://cdn0.fahasa.com/media/catalog/product/t/h/tham-tu-lung-danh-conan-tap-98_3.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">ở đây có tuổi thơ</div>
</div>
</section>
    
</body>
</html>