
    <div class="container mt-5 mb-5">
    <div id="detail" class="row d-flex justify-content-center">
        
    </div>
    <script>
      
        const url = window.location.href
        const isbn = url.split('/')[4]
        
         fetch(` /api/books/detail/${isbn}`)
        .then((res) => res.json())
        .then((res)=>{

            if(res.length !== 0){
              detailProduct(res)
            }else{
              layout404('detail')
            }
        })
        const detailProduct = data =>{
          
            let detaildata = data.map(d=>
                ` 
                <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="${d.img}" width="250" /> </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">Orianz</span>
                                <h5 class="text-uppercase">${d.name}</h5>
                                <div class="price d-flex flex-row align-items-center"> <span class="act-price">$20</span>
                                    {{!-- <div class="ml-2"> <small class="dis-price">$${d.price}</small> <span>40% OFF</span> </div> --}}
                                </div>
                            </div>
                            <p class="about">Lorem ipsum dolor sit amet.</p>
                            {{!-- <div class="sizes mt-5">
                                <h6 class="text-uppercase">Size</h6> <label class="radio"> <input type="radio" name="size" value="S" checked> <span>S</span> </label> <label class="radio"> <input type="radio" name="size" value="M"> <span>M</span> </label> <label class="radio"> <input type="radio" name="size" value="L"> <span>L</span> </label> <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span> </label> <label class="radio"> <input type="radio" name="size" value="XXL"> <span>XXL</span> </label>
                            </div> --}}
                            <div class="cart mt-4 align-items-center"> <button class="btn btn-danger text-uppercase mr-2 px-4">Add to cart</button> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                `
            )
document.getElementById("detail").innerHTML=detaildata.join("") 
        }
    
    </script>

    <section >
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-start align-items-center">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://i.vietgiaitri.com/2020/6/22/bo-tranh-dung-den-dau-long-sau-chia-tay-ban-lan-luot-lam-nhung-gi-tren-mang-xa-hoi-7c3-5026763.jpg" alt="avatar" style="width:50px" />
              <div>
                <h6 class="fw-bold text-primary mb-1">vô danh</h6>
                <p class="text-muted small mb-0">
                  Shared publicly - Jan 2020
                </p>
              </div>
            </div>

            <p class="mt-3 mb-4 pb-2">
              sách hay quá tui mua 2 cuốn rồi
            </p>

            <div class="small d-flex justify-content-start">
              <a href="#!" class="d-flex align-items-center me-3">
                <i class="far fa-thumbs-up me-2"></i>
                <p class="mb-0">Like</p>
              </a>
              <a href="#!" class="d-flex align-items-center me-3">
                <i class="far fa-comment-dots me-2"></i>
                <p class="mb-0">Comment</p>
              </a>
              <a href="#!" class="d-flex align-items-center me-3">
                <i class="fas fa-share me-2"></i>
                <p class="mb-0">Share</p>
              </a>
            </div>
          </div>
          <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://i.vietgiaitri.com/2020/6/22/bo-tranh-dung-den-dau-long-sau-chia-tay-ban-lan-luot-lam-nhung-gi-tren-mang-xa-hoi-7c3-5026763.jpg" alt="avatar" style="width:50px" height="50px" />
              <div class="form-outline w-100">
                <textarea class="form-control" id="textAreaExample" rows="4"
                  style="background: #fff;"></textarea>
                <label class="form-label" for="textAreaExample">Message</label>
              </div>
            </div>
            <div class="float-end mt-2 pt-1">
              <button type="button" class="btn btn-primary btn-sm">Post comment</button>
              <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

 <script src="../../public/js/404.js"></script>