 <section>
   <div class="container">
    <div class="img">
      <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/Fahasa_saleT3_Tuan2_LDP_Mainbanner_web.jpg" alt="">
    </div>
   </div>
  </section>
<!-- Home Section End -->



<!-- Top Section Start -->
<div class="top-section">
  <h5>WHAT WE SERVE</h5>
  <h3>Your Favourite books <br> Delivery Partner</h3>
  <div class="row">

    <div class="col-md-4 py-3 py-md-0">
      <div class="card">
        <img src="./images/img1.png" alt="">
        <div class="card-body">
        <h1>Easy To Order</h1>
        <p>You only need a few steps in <br> ordering food</p>
      </div>
      </div>
    </div>
    <div class="col-md-4 py-3 py-md-0">
      <div class="card">
        <img src="./images/img2.png" alt="">
        <div class="card-body">
        <h1>Fastest Delivery</h1>
        <p>Delivery that is always ontime <br> even faster</p>
      </div>
      </div>
    </div>
    <div class="col-md-4 py-3 py-md-0">
      <div class="card">
        <img src="./images/img3.png" alt="">
        <div class="card-body">
        <h1>Best Quality</h1>
        <p>Not only fast for us quality is also <br> number one</p>
      </div>
      </div>
    </div>

  </div>
</div>
<!-- Top Section End -->




<!-- Our Menu Start -->
<section class="menu" id="menu">
  <h3>Menu</h3>
  <h2>The books are here <i class="fa-solid fa-arrow-down"></i></h2>


  <div id="viewbooks" class="row" style="margin-top: 30px;">
   
      
     
   
  


  </div>



  {{!-- <div class="row" style="margin-top: 30px;">
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="./images/books.jpg" alt="">
        <div class="card-body">
          <h3>sách lập trình cơ bản</h3>
          <h6>Lorem ipsum dolor sit amet.</h6>
          <div class="rating">
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
          </div>

          <p>$300 <i class="fa-solid fa-credit-card"></i></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="./images/sach-hoc-lap-trinh.jpg" alt="">
        <div class="card-body">
          <h3>sách lập trình cơ bản</h3>
          <h6>Lorem ipsum dolor sit amet.</h6>
          <div class="rating">
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
          </div>

          <p>$10 <i class="fa-solid fa-credit-card"></i></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="./images/books.jpg" alt="">
        <div class="card-body">
          <h3>sách lập trình cơ bản</h3>
          <h6>Lorem ipsum dolor sit amet.</h6>
          <div class="rating">
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
          </div>

          <p>$150 <i class="fa-solid fa-credit-card"></i></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="./images/sach-hoc-lap-trinh.jpg" alt="">
        <div class="card-body">
          <h3>sách lập trình cơ bản</h3>
          <h6>Lorem ipsum dolor sit amet.</h6>
          <div class="rating">
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
          </div>

          <p>$250 <i class="fa-solid fa-credit-card"></i></p>
        </div>
      </div>
    </div>


  </div> --}}
</section>
<!-- Our Menu End -->
<script>
        fetch('/api/books')
        .then((res) => res.json())
        .then((res)=>{
            viewProduct(res)
        })
        const viewProduct = (data) =>{
            let viewData = data.map(d => `
             <div  class="col-md-3 py-3 py-md-0">
             <div class="card">
        <a href="./detail/${d.isbn}"><img src="${d.img}" alt=""></a>
        <div class="card-body">
          <h3>${d.name}</h3>
          <h6>Lorem ipsum dolor sit amet.</h6>
          <div class="rating">
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
          </div>

          <p>$${d.price} <i class="fa-solid fa-credit-card"></i></p>
        </div>
         </div>
         </div>`)
                document.getElementById("viewbooks").innerHTML= viewData.join("")

        }
    </script>




<div class="container">
  <div class="line" style="width: 100%; height: 2px; background-color: #e53937;"></div>
</div>



