<div id="viewbooks" class="row" style="margin-top: 30px; overflow-x:hidden">

</div>

<script>
        fetch('/api/books')
        .then((res) => res.json())
        .then((res)=>{
            viewProduct(res)
        })
        const viewProduct = (data) =>{
            let viewData = data.map(d => `
             <div  class="col-md-3 py-3 py-md-0">
             <div class="card">
        <a href="./detail/${d.id}/${d.isbn}"><img src="${d.img}" alt=""></a>
        <div class="card-body">
          <h3>${d.name}</h3>
          <h6>Lorem ipsum dolor sit amet.</h6>
          <div class="rating">
            <i style="color:yellow " class="fa-solid fa-star checked"></i>
            <i style="color:yellow " class="fa-solid fa-star checked"></i>
            <i  style="color:yellow " class="fa-solid fa-star checked"></i>
            <i style="color:yellow " class="fa-solid fa-star checked"></i>
            <i style="color:yellow " class="fa-solid fa-star checked"></i>
          </div>

          <p>$${d.price} <i class="fa-solid fa-credit-card"></i></p>
        </div>
         </div>
         </div>`)
                document.getElementById("viewbooks").innerHTML= viewData.join("")

        }
    </script>
