<footer id="footer">
  <div class="f-content">
    <div class="f-logo"><img src="./images/logo-new.png" alt=""></div>
    <p>Thank you everyone for stopping by my website and enjoying it.</p>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-twitter"></i>
  </div>
  <br>
  <div class="c-content">
    &copy; copy tại hiếu không giỏi lập trình <br>
    <span>Designed By <a href="#">nasa Coding</a></span>
  </div>
</footer>